
$height: calc(90vh - 56px);
.RegisterPageBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
}

.LoginPageBody{
    margin-top: 0;
}

.heading-reg{
    margin: 0;
}
