.parent-edit-btn{
    // border:2px solid black;
    position: relative;
.edit-btn{
    // border:3px solid red;
    position: absolute;
    right:70px;
    top:5px;
    // padding-right: 0;
}

.save-btn{
    position: absolute;
    right:10px;
    top:5px;
}
}
.edit-ticket-input{
    margin-bottom: 20px;
    margin-left: 10px;
}

input{
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}

select{
    border-radius: 5px;
}