.CardContainer{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
    height:200px;

    h3{
        text-align: center;
        margin-bottom: 1%;
        padding: 30px 0px;
    }
}



.btn{
    display: inline-block;
    margin: auto;
}