

h1 {
    border: 2px solid black;
    text-align: center;
    background-color: rgb(45 115 215);
    height: 74px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center; /* Center the heading text */
    align-items: center;
    padding: 0 3rem; /* Adjust padding to provide space for the button */
    box-sizing: border-box;
}

.org-heading {
    color: white;
    text-align: center;
}

h2 {
    margin: 2rem;
    margin-bottom: 0;
    text-align: center;
}

.upper-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    margin-top: 0;
}
.all-ticket{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn2 {
    position: absolute;
    right: 7rem; /* Position the button to the right */
    top:5%;
    transform: translateY(-50%);
}

.org-btn{
    position: absolute;
    right: 14rem; /* Position the button to the right */
    top:5%;
    transform: translateY(-50%);
}

.create-date{
    width:200px;
}

.log-out-btn{
    right:0rem;
    background-color: white;
}
.custom-modal {
    position: fixed;
    top: 12%;
    right: 1rem;
    transform: translateY(-50%);
    margin: 0;
    width: 400px;
  }
  
@media (max-width: 768px) {
    h1 {
        padding: 1rem;
    }

    .btn2 {
        top: 1rem;
        right: 1rem;
        transform: none;
        position: absolute;
    }

    h2 {
        margin: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .btn2 {
        width: auto;
        right: 0.5rem;
        top: 0.5rem;
    }

    .upper-table {
        margin: 0.5rem;
    }

    h2 {
        margin: 0.5rem;
        font-size: 1rem;
    }
}
