

.log-out-btn {
    position: absolute;
    background-color: rgb(45 115 215);
    top: 1rem; /* Adjust top spacing */
    right: 3rem; /* Adjust right spacing */
}

.main {
    height: 100vh;
    width: 100vw;
}

h4{
    display: inline-block;
}

.parent-filter-btn{
    // border:1px solid blue;
    .type-filter{
        margin-left: 145px;
        margin-bottom: 5px;
    }
    .status-filter{
      margin-left: 50px;
      margin-bottom: 5px;
      
    }
    .status-filter-picker{
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .type-filter-picker{
        margin-bottom: 5px;
        margin-left: 3px;
    }

.filter-btn{
    margin:0;
    // border:2px solid black;
    margin-left: 30%;

    // padding:0;
}
}

.heading {
    border: 2px solid black;
    text-align: center; /* Center the heading text */
}

.create-ticket {
    position: fixed;
    bottom: 1rem; /* Adjust bottom spacing */
    right: 1rem; /* Adjust right spacing */
    z-index: 999; /* Ensure the button stays on top */
}
.ticket {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

h2 {
    text-align: center; /* Center the heading text */
    color: black;
}

@media (max-width: 768px) {
    .create-ticket {
        padding-left: 0; /* Remove left padding */
    }
}

