

.log-out-btn {
    position: absolute;
    top: 1rem; /* Adjust top spacing */
    right: 3rem; /* Adjust right spacing */
}

.main {
    height: 100vh;
    width: 100vw;
}

.heading {
    border: 2px solid black;
    text-align: center; /* Center the heading text */
}

.create-ticket {
    position: fixed;
    bottom: 1rem; /* Adjust bottom spacing */
    right: 1rem; /* Adjust right spacing */
    z-index: 999; /* Ensure the button stays on top */
}
.ticket {
    display: flex;
    justify-content: center;
    margin: auto;
}

h2 {
    text-align: center; /* Center the heading text */
    color: black;
}

@media (max-width: 768px) {
    .create-ticket {
        padding-left: 0; /* Remove left padding */
    }
}

