.CardContainer{
    display: flex;
    gap: 5%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    // background-color:rgb(228 211 211);
    // border-radius: 5%;
    // border: 3px solid black;
}

h5{
    padding-left: 10px;
}

h3{
    text-decoration: solid;
    // color: black;
}

.reg-btn{
    margin-right:100px;
}